textarea {
    height: 200px;
    width: 500px;
    display: block;
}
.comentario-enviado {
    width: 500px;
    background-color: lawngreen;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
}
.eliminar {
    cursor: pointer;
}

.fecha {
    color: red;
}